@import "./fonts";

.ProductListElement__costs {
  .ProductListElement__price {
    font-size: 16px;
    text-align: left;
    padding: 0;
  }
}

.ProductListElement__price--machine {
  font-size: 1rem;
}
.ProductListElement__price--subscription {
  span {
    font-family: inherit;
    font-weight: 400;
    font-size: 0.875rem;
    color: #666666;
    letter-spacing: 1px;
    line-height: 1.3125rem;
    &:first-child {
      display: block;
    }
  }

  .ProductListElement__price--subscriptionPrice {
    color: #8d1f3c;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
    // margin-right: 0.25rem;
    font-family: inherit;
    font-weight: 700;
  }
  .ProductListElement__price--infoIcon {
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-color: #8d1f3c;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    display: inline-block;
    border-radius: 100%;
    border: none;
    padding-left: 0.375rem;
    margin-left: 0.25rem;
  }
}
@media screen and (max-width: 320px) {
  .ProductListElement__price--subscription {
    span {
      font-size: 0.75rem;
    }
  }
  .ProductListElement__price {
    line-height: 1.3125rem;
  }
}

// @media screen and (max-width: 767px) {
//     .ProductListElement__color-shades {
//         margin-top:0;
//     }
// }

@media screen and (min-width: 768px) {
  .ProductListElement__price {
    text-align: left;
    padding-left: 0;
  }
  .ProductListElement__costs {
    .ProductListElement__price {
      line-height: 1.125rem;
    }
  }
}
